$lights: '700', '500', '400', '300';

@layer utilities {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  
  h2 {
    font-size: 28px;
    line-height: 36px;
  }
  
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  
  h4 {
    font-size: 20px;
    line-height: 28px;
  }
  
  h5.subtitle-1 {
    font-size: 20px;
    line-height: 24px;
  }
  
  h5.subtitle-2 {
    font-size: 18px;
    line-height: 24px;
  }
  
  h5.subtitle-3 {
    font-size: 16px;
    line-height: 24px;
  }
  
  h5.subtitle-4 {
    font-size: 13px;
    line-height: 18px;
  }
  
  p.body-1 {
    font-size: 18px;
    line-height: 28px;
  }
  
  p.body-2 {
    font-size: 16px;
    line-height: 24px;
  }
  
  p.body-2 {
    font-size: 13px;
    line-height: 20px;
  }
  
  small.label {
    font-size: 13px;
    line-height: 16px;
  }
  
  small.metadata {
    font-size: 11px;
    line-height: 16px;
  }
  
  p.button {
    font-size: 12px;
    line-height: 16px;
  }
}